@import url('https://fonts.googleapis.com/css?family=Lato:300|Oswald&display=swap');
* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: Lato;
    color: #777777;
}

h2 {
    font-family: Oswald;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #555555;
}

#logo {
    float: left;
    font-size: 280%;
}

#menu {
    font-size: 110;
    list-style-type: none;
    letter-spacing: 4px;
    float: right
}

#logo,
#menu {
    margin-left: 30px;
    line-height: 75px;
}

#menu li {
    float: left;
    /* we do this in combo with floating the #menu (ul) to the right, this sorts the menu in the correct order.*/
    margin-right: 30px;
}

#menu a {
    /* Targets the child of #menu id.*/
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    /* sudoclass - allows to change the state of a html element*/
    border-bottom: 1px solid #777777;
}

.active {
    border-bottom: 1px solid #777777;
}

#hero-image {
    height: 600px;
    width: 100%;
    background: url("http://codeinstitute.s3.amazonaws.com/FundamentalsProjects/HTML-CSS/main-image.png") no-repeat center center;
    /*or...... url('../../assets/img/main-image.png') no-repeat center center;*/
    animation-name: hero-image;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    /* using clear: both here would result in image bleeding into header*/
    position: relative; /* This is so child containers can fix their position relative to this parent section */
}

@keyframes hero-image {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}

#cover-text, #cover-text h2 {
    /*must specify to overide default h2 color */
    color: #ffffff;
}

#cover-text {
    /* create styling for cover text box */
    font-size: 130%;
    font-family: Oswald;
    text-transform: uppercase;
    letter-spacing: 4px;
    width: 300px;
    height: 200px;
    padding-top: 40px;
    padding-left: 10px;
    
    background-color: rgba(241, 109, 107, .7);
    /* handy to use rgb and also set .7 opacity here */
    bottom: 30px;
    /* 30px above bottom of hero image */
    right: 150px;
    position: absolute;
    /* fix in position. but this alone fixes it in relation to the whole screen, we must set parent container position as relative so that this child container can set its position relative to it */
}

#club-ethos{
    height: 600px;
    width: 100%;

}

#left-about{
    width: 33%;
    padding-top: 30px;
    float: left;
}

#right-about{
    width: 33%;
    padding-top: 30px;
    float: right;

}

#center-about{
    width: 33%;
    margin: 0 auto;
}

hr{
    border-top: 1px solid #777777;
    width: 100%;
    margin: 5px 0;
}

.left-about-heading{
    width: 50%;
    float: right;
    line-height: 20px;
    clear: both; /* ensures that h2 and p are aligned vertically */
    margin-bottom: 50px;

}

.right-about-heading{
    width: 50%;
    float: left;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}

.right-about-heading h2{
    text-align: right;
}

.right-about-heading p{
    text-align: right;
}

#welcome{
    margin: 20px 0;
    text-align: center;
    font-size: 280%;
}

#circle-container{
    width: 300px;
    height: 300px;
    padding: 30px; /* padding to the image */
    border: 1px solid #cccccc;
    border-radius: 50%;
    margin: 0 auto; /* centre the circle */

}

#circle_cover-bg{
    background: url("http://codeinstitute.s3.amazonaws.com/FundamentalsProjects/HTML-CSS/video-mask.png")no-repeat center center;
    height: 100%;
    border-radius: 50%;
}

#times{
    background: url("http://codeinstitute.s3.amazonaws.com/FundamentalsProjects/HTML-CSS/dublin-city.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    overflow: hidden;
}

#times div{
    color: #fafafa;
    background-color: rgba(0, 0, 0, .6);
    width: 19%;
    height: 300px;
    float: left;
    padding: 30px 0 0 10px; /* Top Right Bottom Left */
    text-align: center;
    margin: 2px;
}

#times h2{
    color: #fafafa ;
}

footer{
    height: 150px;
}

.social-networks{
    text-align: center;
}

.social-networks li{
   display: inline;
}

.social-networks i{ /* Drill down to the actual icon links */
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #777777;
}

#photo{
    margin: 2px;
    clear: both;
    line-height: 2.5vh;
    column-count: 4;
    column-gap: .25vw;
}

#photo img{
    width: 100%;
}

@media screen and (max-width: 1415px){ /* So when the screen gets to 1415px apply this media query..  i found 1415 better as it stopped distortion of times at a point*/
    #club-ethos{
        width: 60%;
        margin: 0 auto; /* center */
        height: 1200px;
    }

    #welcome {
        padding: 30px 0;
        margin-top: 0;
    }

    #left-about, #right-about{
        width: 100%;
        float: left;
        padding: 0;

    }

    #center-about{
        clear: both;
        width: 100%;
        float: left;
        padding: 0;

    }

    hr{    /* Remove line under sub headings */
        display: none;
    }

    #times div{
        width: 100%;
        clear: both;
        height: 150%;
        border-style: solid;
        border-bottom-width: 1px;
        border-bottom-color: #fff;
        padding: 0;
    }
}

.form-section {
    clear: both;
    background: url("http://codeinstitute.s3.amazonaws.com/FundamentalsProjects/HTML-CSS/formbg.jpg");
    background-size: cover;
    background-position: center;
    height: 900px;
}

.signup-form{
    max-width: 400px;
    background-color: rgba(60, 60, 60, .6);
    color: #fff;
    margin-top: 150px;
    position: absolute;
    left: 10%;
    padding: 30px;
    
}

.signup-form h2{
    color: #fafafa;
    margin-bottom: 20px;
}

.text-input{
    background-color: transparent;
    color: #fafafa;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #fafafa;
    border-radius: 2px;
}

.text-input:hover{
    border: 1px solid #f16c6b;
    
}

.join-button{
    letter-spacing: 2px;
    margin-top: 20px;
    margin-left: 33%;
    border-radius: 2px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color: #f16c6b;
    color: #fafafa;
    display: block;
}

.join-button:hover{
    background-color: #fafafa;
    color: #f16c6b;
    padding: 15px 28px 15px 28px;
    font-size: 110%;
}

.rad-but{
    letter-spacing: 2px;
    padding-left: 60px;
}

@media screen and (max-width:943px){
    #menu{
        clear: left;
        float: left;
        margin-left: 30px;
        margin-bottom: 20px;
        line-height: 25px; /* makes the space the menu lives in smaller in height */
    }

    #cover-text{
        left: 0px;
    }

    #club-ethos{
        width: 90%;
        height: 1200px;
    }

    .left-about-heading, .right-about-heading{
        width: inherit;
    }

    .left-about-heading h2, .right-about-heading h2{
        width: 100%;
        text-align: center;
    }

    .left-about-heading p, .right-about-heading p{
        text-align: center;
        padding: 0 20px;
    }

    #photo{
        column-count: 3;
    }
}


@media screen and (max-width:800px){
    #photo{
        column-count: 2;
    }
}